body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: silver;
  background:blue;
}

div {margin:0em; padding:0em; background:transparent;}
p   {border:.05rem solid black; background:white;}

h1 {
  text-align:center;
  font-size: 3em;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

li {list-style-type: none;}
li, ol, ul , div {margin:0;padding:0;}
/*in a bracket*/
.product {border-left:.05rem solid grey; margin-left: .5em; padding-left: .4em;border-radius: 0 0 0 .3em;}
.productCaption > .app {padding: 0 .4em; margin: .4em 0 0 .5em; border-left:.05rem solid grey; border-top:.05rem solid grey; background:rgba(200,200,200,.2); border-radius: .3em 0 .3em 0;}
/*little span for telling the Ambi-symbol*/
.type {display:inline-block;vertical-align:baseline; padding:.2em;min-height:1.1rem; line-height: 1.1rem; font-size: .7rem;font-weight: bold;}
/*the contents*/
.app {display:inline-block;vertical-align:middle;}

.App, .Live {padding-top: .2em;padding-bottom: 1.2em;margin:.3rem 0;}
.Live {background:white; color:black;}
.App {background:black; color:silver;}
.App > h2, .Live > h2 {font-size: .7em;text-align: center;border-bottom: .1em dashed blue; color:blue;}

.plus {position:fixed;bottom:.2rem;left:.2rem;right:auto; height:3rem;width:12rem;background:white;box-shadow: 1px 1px .5rem black;
margin-left: auto; margin-right: auto; color:blue;text-align: center;line-height: 3rem;}

.E {font-size: .2em;background:black;}
.Many {padding:.3em 0}
.Many > span {font-size: 2em;vertical-align: middle; color:silver;}
.Many > .app {max-width: 50%; overflow-x: auto;}
.Product {}
.Emblem {background:yellow;}
.Figure {float:left;background:black; height:6rem;width:8rem;color:white;}
.Paragraph {background:white;width:28rem; padding:.7rem;}
.Link {background:cyan;}
.Title {}
.Caption {}
.Text {color:black;}
.Name {border-top: .05em solid grey;margin-top: .5em;}
.Name > span {font-size: .7em;background:white;position:relative;top:-1em;left:1.5em;display: inline-block;}
.prototype {opacity: .9;background: white;max-width: 45%; float: right; margin-top: .2em;padding: 0em; outline:.1em dashed white;outline-offset: 0em;box-shadow: 1px 4px 25px rgba(0,0,200,.9)}
.prototype > * {max-width: 100%; overflow-y: scroll;max-height: 9rem;opacity:1; background: white; padding-left: .4em; font-style: italic;}
